<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed|Roboto|Lexend+Deca|Material+Icons&display=swap"
    rel="stylesheet">

<meta name="description"
    content="A site that shows the current status of Harker spirit points, as well as descriptions of past and upcoming spirit events.">

<script src="{{path}}/js/makeRequest.js"></script>
<script src="{{path}}/js/cr.js"></script>
<script src="{{path}}/js/iso.js"></script>

<script src="{{path}}/js/snackbar.js" defer></script>
<script src="{{path}}/js/logout.js" defer></script>
<link rel="icon" type="image/jpg" href="{{path}}/ico/eagle-01.png">

<meta property="og:title" content="HarkerDev" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://dev.harker.org" />
<meta property="og:image" content="./ico/eagle-01.png" /> {{!-- todo: fix --}}
<meta property="og:site_name" content="Harker Spirit" />
<meta property="og:description"
    content="A site that shows the current status of Harker spirit points, as well as descriptions of past and upcoming spirit events." />

<title>Harker Spirit</title>

<script>
    window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
    ga('create', 'UA-136862177-12', 'auto');
    ga('require', 'linkid');
    ga('send', 'pageview');
</script>
<script async src='https://www.google-analytics.com/analytics.js'></script>